
::selection {
	background: #5f5b5c;
}
::-moz-selection {
 background: #5f5b5c; 
}

#header-bottom {
	border-bottom:3px solid #5f5b5c;
}
#main-menu > li > span {
    border-bottom: 6px solid #5f5b5c;
}
.widget-area-1 .widget .widget-title .title-text .triangle-right {
    border-bottom: 48px solid #5f5b5c;
}
.widget-area-1 .widget .widget-title .title-text .triangle-bottom,
.widget-area-8 .widget .widget-title .title-text .triangle-bottom,
.widget-area-12 .widget .widget-title .title-text .triangle-bottom {
    border-top: 20px solid #5f5b5c;
}
.widget-area-8 .widget .widget-title .title-text .triangle-right,
.widget-area-12 .widget .widget-title .title-text .triangle-right {
	border-bottom: 36px solid #5f5b5c;
}
#main-menu li ul li {
	border-top:1px solid #474445;
}
#main-menu li ul li:hover,
#main-menu li ul li.current-menu-item,
#toggle-view-menu > li:hover,
#toggle-view-menu span,
#toggle-view-menu .menu-panel,
#toggle-view-menu li:hover,
#toggle-view-menu li.active {
	background-color:#474445;
}
blockquote {
	border-left-color:#5f5b5c;
}
.list-container-3 ul li.active a, 
.list-container-3 ul li:hover a {
	border-top:1px solid #5f5b5c;
}
.red-button, .border-button:hover,
#comments-form #comment_name:focus, 
#comments-form #comment_email:focus, 
#comments-form #comment_url:focus, 
#comments-form #comment_message:focus, 
#contact-form #contact_name:focus, 
#contact-form #contact_email:focus, 
#contact-form #contact_url:focus, 
#contact-form #contact_message:focus {
	border:1px solid #5f5b5c;
}

#header-middle,
#main-menu li ul,
.widget-area-1 .widget .widget-title .title-text,
.widget .widget-title,
.widget .widget-title .title-text,
.entry-date .kopa-minus,
.kopa-article-list-widget .tab-container-1 ul li:first-child .entry-thumb,
.kopa-carousel-widget .pager a.selected, 
.kopa-carousel-widget .pager a:hover,
.widget-area-8 .widget .widget-title .title-text,
.widget-area-12 .widget .widget-title .title-text,
.bottom-sidebar .newsletter-form .submit,
#page-footer,
#back-top a,
.kopa-related-post h3, 
#comments h3, 
#respond h3, 
#contact-box h3,
.kopa-related-post h3 .title-text, 
#comments h3 .title-text, 
#respond h3 .title-text, 
#contact-box h3 .title-text,
#comments-form #submit-comment, 
#contact-form #submit-contact,
.kp-dropcap,
.kp-dropcap.color,
.red-button, 
.border-button:hover,
.tag-box a:hover,
.kp-gallery-carousel .flex-next:hover,
.kp-gallery-carousel .flex-prev:hover,
.sb-search.sb-search-open .sb-icon-search, 
.no-js .sb-search .sb-icon-search,
#toggle-view-menu > li {
	background-color:#5f5b5c;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, a:hover,
.kp-headline dd a:hover,
.social-links li a:hover,
.widget .home-slider .entry-item .entry-title a:hover,
.widget .entry-item .entry-title a:hover,
.kopa-featured-widget .entry-item .entry-content .more-link:hover,
.kopa-article-list-widget .tab-container-1 ul li .entry-title a:hover,
.kopa-featured-news-carousel .entry-title a:hover,
.older-post li a:hover,
.kopa-entry-list-widget .older-post li a:hover,
.kopa-twitter-widget .load-more:hover,
.gallery-slider .gallery-caption a:hover,
.sidebar .kopa-categories-widget ul li a:hover,
.widget-area-12 .widget.kopa-entry-list-widget .entry-item .entry-title a:hover,
.breadcrumb a:hover,
.tab-container-3 ul li a:hover,
.entry-categories a:hover,
.entry-comments a:hover,
.entry-box footer p a.article-title:hover,
.entry-box .social-link li a:hover,
.about-author .social-link li a:hover,
.kopa-related-post ul li .entry-title a:hover,
.list-container-1 ul li.active a, 
.list-container-1 ul li:hover a,
.widget_archive li a:hover,
.widget_rss li a:hover,
.widget_recent_comments li a:hover,
.widget_recent_entries li a:hover,
.entry-date,
.kopa-rating li a,
.sidebar .kopa-categories-widget ul li,
.kopa-article-list-widget .tab-container-1 #tab-1-4 ul li .video-icon,
#theme-option .open-close-button,
.breadcrumb .current-page,
.error-404 .left-col p,
.error-404 .right-col h1,
.error-404 .right-col a,
.entry-author, .entry-author a,
.pagination ul > li > span.current, 
.pagination ul > li > a:hover,
.tab-container-3 ul li,
.entry-box footer p a,
.author-name,
#comments .comment-body .date,
#comments .comment-body .comment-edit-link, 
#comments .comment-body .comment-reply-link:hover,
#comments-form label.required span, 
#contact-form label.required span,
label.error,
.kopa-single-2 .entry-comments span, 
.kopa-single-2 .entry-view span,
.kopa-single-2 .entry-comments, 
.kopa-single-2 .entry-comments a, 
.kopa-single-2 .entry-view,
.kopa-comment-pagination .current,
#mobile-menu > span {
    color: #5f5b5c;
}
